@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"); 
  html {
    font-size: 62.5%;
  }
  
a {
    text-decoration: none;
    color: #5d54b4 ! important;
    
  } 

.navbar-bg {
   
    padding: 2rem 0;
    position: fixed;
    width: 90vw;
    height: 90px;
    margin: 0 auto; 
}
.navbar-brand{
    font-style: italic;
    font-weight: 500;
    font-size: 44px;
    
    display: flex;
    align-items:center;
    line-height: 20px;
    margin-top:20px;
    background-color: #0000
}
  .tech{
    margin-top: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 14px; 
    display: flex;
    align-items: center;
    color: #FFFF00;
  }

  .navbar li {
    padding: 0 2rem;
  }
  
  .navbar li a {
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
  }
  .navbar-toggler{
    background-color: #8D84DA;
    color:  #fff
  }
  