/* /* @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
} */

/* .body-main {
  background-color: #12172b;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px 0px;
  color: white;
  
}

.heading {
  font-size: 40px;
  color: white;
  width: 100%;
  text-align: center;
 
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
 text-align: center;

}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
  text-align: center;
}

.profile p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}



@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
} */
.team-section{
  width: 100vw;
 
  margin-top: 5px;

  height: 300px;
  margin-bottom: 10px;
}
.profiles{
  margin-top: 5px;
  margin-left: 25%;

}

.profile-img{

  height: 170px; 
  border-radius: 100%;
}
.heading-team{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
 margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile-details1{
  margin-left: 5%;
}

.profile-details2{
   font-weight: bold;
    color: #969BAB;
    margin-left: 8%;

    
}

.navbar-contact{
  height: 1px;
}
/*
.pro-pic{
  
  width: 120px;
  height: 115px; 

 margin-left: 200px;
 float: left;

}
.profile-img{
width: 110px;
height: 110px; 
background: gray;
border-radius: 50%;


}
.profile-details{
  width: 400px;
  height: 100px;
  
  margin-left: 250px;
  margin-top: 70px;
  
  
}
.profile-details1{
   font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
   
    padding-top: 15px;
}
.profile-details2{
   font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #969BAB;
   
} */